<h1>Showing a To-Do</h1>

<p>
  name: <%= @todo.name %>
</p>
<p>
  description: <%= @todo.description %>
</p>
<%= link_to "Edit this To-Do", edit_todo_path(@todo) %> |
<%= link_to "Back to To-Do List", todos_path  %>
